html,
body {
  background-color: #303443;
}

#canvas {
  position: absolute;
  left: 0px;
  top: 0px;
}

#channel-main {
  height: 80%;
  background-color: var(--backgroundColor);
  margin-top: 5em;
  margin-left: 12em;
  margin-right: 12em;
  border: 0.54px solid antiquewhite;
}

#channel-posts {
  list-style-type: none;
  position: relative;
  z-index: 1;
}

#title {
  z-index: 1;
  width: 15%;
  transition-duration: 1.4s;
  text-align: center;
  position: relative;
  padding: 1em;
  margin-left: 6em;
  color: antiquewhite;
  border: 0.54px solid var(--primaryColor);
  background-color: #303443;
}

.post-element {
  width: 45%;
  transition-duration: 1.4s;
  padding: 2em;
  margin-bottom: 5em;
  margin-top: 5em;
  font-size: large;
  color: antiquewhite;
  border: 0.54px solid var(--primaryColor);
  background-color: #303443;
}

.post-element:nth-child(odd) {
  margin-left: 11em;
}

.post-element:nth-child(even) {
  margin-left: 7em;
}

.post-element > p {
  text-align: center;
  font-size: larger;
}

.post-element > span {
  transition-duration: 700ms;
  padding: 0.7em;
  border: 0.54px solid var(--primaryColor);
}

.post-element:hover,
#title:hover {
  background-color: black;
  border: 1px solid antiquewhite;
}
