html,
body {
  background-color: #303443;
}

#canvas {
  position: absolute;
  left: 0px;
  top: 0px;
}

#channel-main {
  scrollbar-width: none;
  overflow: scroll;
  background-color: var(--backgroundColor);
  border: 0.54px solid antiquewhite;
  /* height: 80%; */
  margin-left: 18%;
  margin-right: 18%;
  margin-top: 5em;
  overflow: hidden;
}

#channel-main::-webkit-scrollbar {
  display: none;
}

#channel-posts {
  list-style-type: none;
  position: relative;
  z-index: 1;
}

#title {
  background-color: #303443;
  border: 0.54px solid var(--primaryColor);
  color: antiquewhite;
  font-size: large;
  margin-left: 6em;
  overflow: hidden;
  padding: 1.5em;
  position: relative;
  text-align: center;
  transition-duration: 1.4s;
  width: 15%;
  z-index: 1;
}

.post-element {
  background-color: #303443;
  border: 0.54px solid var(--primaryColor);
  color: antiquewhite;
  font-size: medium;
  margin-bottom: 5em;
  margin-top: 5em;
  padding: 2em;
  transition-duration: 1.4s;
  width: 45%;
}

.post-element:nth-child(odd) {
  margin-left: 11em;
}

.post-element:nth-child(even) {
  margin-left: 7em;
}

.post-element > p {
  /* float: right; */
  background-color: #23252f;
  border: 1px solid whitesmoke;
  font-size: medium;
  margin-left: 38%;
  padding-bottom: 5%;
  padding-top: 5%;
  text-align: center;
  width: 50%;
}

/* date element */
.post-element > span {
  border: 0.54px solid var(--primaryColor);
  display: block;
  font-size: medium;
  margin-right: 0;
  padding: 0.7em;
  text-align: center;
  transition-duration: 700ms;
  width: 50%;
}

.post-element:hover,
#title:hover {
  background-color: black;
  border: 1px solid antiquewhite;
  box-shadow: 5px 6px 8px 5px #888888;
  transform: translate(-1%, -1.7%);
}
