html,
body {
  background-color: #303443;
}

.hidden {
  visibility: hidden;
}

.no-display {
  display: none;
}

#canvas {
  position: absolute;
  left: 0px;
  top: 0px;
}

#channel-main {
  background-color: var(--backgroundColor);
  border: 0.54px solid #faebd7;
  height: 80%;
  margin-left: 18%;
  margin-right: 18%;
  overflow-y: scroll;
  scrollbar-width: none;
  transition-duration: 400ms;
}

.emoji-div {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border: 0.54px solid var(--primaryColor);
  margin: 0;
  padding: 1em;
  text-align: center;
  transition-duration: 500ms;
}

.liked {
  border: none;
  background-color: rgb(4, 61, 4);
}

.disliked {
  border: none;
  background-color: rgb(240, 21, 21);
}

.liked-border {
  border-radius: 54px;
  border: 3px solid rgb(4, 61, 4) !important;
}

.disliked-border {
  border-radius: 54px;
  border: 3px solid rgb(240, 21, 21) !important;
}

.emoji {
  margin: 5%;
  font-size: large;
  border: 1px solid antiquewhite;
  padding: 1%;
  background-color: black;
}

.delete-post {
  background-color: red !important;
  border: 2px solid black !important;
  color: black !important;
  font-weight: 800;
  font-size: xx-large;
  padding: 0.3%;
  width: 5% !important;
  margin-left: 92%;
  margin-top: 0;
}

.delete-border {
  border: 3px solid red;
  background-color: black;
  opacity: 0.55;
}

.emoji:hover {
  transition-duration: 0.88s;
  background-color: var(--primaryColor);
  border: none;
}

#channel-main::-webkit-scrollbar,
#channel-posts::-webkit-scrollbar {
  display: none;
}

#channel-posts {
  scrollbar-width: none;
  transition-duration: 400ms;
  list-style-type: none;
}

#channel-post-parent {
  display: grid;
  place-items: center;
}

#channel-post-input {
  margin-top: 2.7em;
  font-size: large;
  width: 55%;
  font-weight: 300;
  padding: 0.5em;
  background-color: black;
  color: var(--primaryColor);
}

#title {
  background-color: #303443;
  border: 0.54px solid var(--primaryColor);
  color: antiquewhite;
  font-size: large;
  margin-left: 70%;
  overflow: hidden;
  padding: 1.5em;
  position: sticky;
  text-align: center;
  top: 0;
  transition-duration: 1.4s;
  width: 15%;
  z-index: 1;
}

.post-element {
  background-color: #303443;
  border: 0.54px solid var(--primaryColor);
  color: antiquewhite;
  font-size: medium;
  overflow: hidden;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 2em;
  transition-duration: 1.4s;
  transition-duration: 1200ms;
  width: 45%;
}

.post-element:nth-child(odd) {
  margin-left: 11em;
}

.post-element:nth-child(even) {
  margin-left: 7em;
}

.post-element > p {
  /* float: right; */
  background-color: #23252f;
  border: 1px solid whitesmoke;
  font-size: medium;
  margin-left: 38%;
  padding-bottom: 5%;
  padding-top: 5%;
  text-align: center;
  width: 50%;
}

/* date element */
.post-element > span {
  border: 0.54px solid var(--primaryColor);
  display: block;
  font-size: medium;
  margin-right: 0;
  padding: 0.7em;
  text-align: center;
  transition-duration: 700ms;
  width: 50%;
}

.line-div {
  position: relative;
  margin-left: 43%;
  width: 3px;
  height: 25px;
  background-color: var(--primaryColor);
}

.post-element:hover,
#title:hover {
  background-color: black;
  border: 1px solid antiquewhite;
  box-shadow: 5px 6px 8px 5px #888888;
  transform: translate(-1%, -1.7%);
}
