:root {
  --primaryColor: #9147ff;
  --blueChoice: #25a3e2;
  --orangeChoice: #dc541f;
  --greenChoice: #15ac59;
  --purpleChoice: #9147ff;
  --backgroundColor: #1f1f23;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
  background: #1f1f23;
}

body {
  margin: 0;
}

label {
  text-align: center;
  color: antiquewhite;
}

a {
  color: white;
  font-weight: bolder;
}

hr {
  color: white;
  border-top: 1px solid #ccc;
  border: 0;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

.title-heading {
  display: block;
  color: var(--primaryColor);
}

.title-heading::first-letter {
  font-size: 2em;
  font-variant: small-caps;
  font-style: italic;
  color: antiquewhite;
}

#main-heading {
  position: fixed;
  top: 0;
  margin-top: 0;
  width: 100%;
  text-align: center;
  transition-duration: 1.33s;
  padding-bottom: 1em;
  padding-top: 0.7em;
  color: white;
  border: 1px solid black;
  background-color: rgb(14, 13, 13);
}

#heading,
#active-users-list {
  z-index: 1;
}

#chat-title-heading {
  border: 0.5px solid var(--primaryColor);
  background-color: #303443;
  padding: 0.4em;
  margin: 0.5em;
  font-size: 2em;
  position: absolute;
  left: 0;
}

#index-main {
  place-items: center;
  height: 100%;
  display: grid;
}

#index-header {
  text-align: center;
  color: white;
}

#sign-up-list {
  padding-left: 3em;
  margin-top: 4em;
  list-style: none;
}

.bright {
  background-color: white !important;
  color: black !important;
}

.hidden {
  visibility: hidden;
}

.no-display {
  display: none !important;
}

#join-room-div {
  margin-top: 11em;
  background-color: black;
  border: 0px solid white;
  padding: 2em;
  border-radius: 30px;
}

.join-input {
  transition-duration: 500ms;
  padding: 1em;
  margin: 1em;
  font-size: larger;
  display: block;
  border: 0.5px solid purple;
  border-radius: 50px;
}

.join-input:focus,
.join-input:hover {
  border: 1.5px solid var(--primaryColor);
  outline: none;
  font-size: large;
  font-weight: bold;
}

.blur-element {
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.3);
  filter: blur(10px);
}

#sign-up-form,
#login-form {
  z-index: 1;
  margin-top: 7em;
  background-color: black;
  border: 1px solid whitesmoke;
  border-radius: 30px;
  padding: 1em;
}

#sign-up-form #submit-button {
  margin-bottom: 2.1em;
}

#login-form {
  padding-bottom: 0;
  transition-duration: 1.33s;
  /* height: 61%; */
}

#login-form:hover,
#main-heading:hover {
  background-color: #1f1f23;
  border-radius: 0px;
  border: none;
}

#sign-up-form:hover,
#join-room-div:hover,
#room-count:hover {
  border: none;
  background-color: rgb(37, 36, 36);
  transform: translate(-1%, -1%);
  transition-duration: 500ms;
  box-shadow: rgba(199, 194, 194, 0.35) 0px 5px 15px;
}

#channel-count:hover {
  background-color: rgb(46, 44, 44);
  border: none;
  box-shadow: rgba(179, 173, 173, 0.35) 0px 5px 15px;
  color: whitesmoke;
  transform: translate(-2%, -2%);
  transition-duration: 700ms;
}

#room-count:hover {
  color: white;
}

#main-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 2fr);
  align-items: center;
  justify-content: center;
}

#main-header {
  padding-left: 0.3em;
  display: inline;
}

#heading {
  border: 1.4px solid var(--primaryColor);
  padding-top: 2em;
  border-radius: 10px;
  text-align: center;
  grid-column: 2 / 4;
  grid-row: 1;
  background-color: whitesmoke;
}

#heading:hover {
  box-shadow: rgba(150, 144, 144, 0.35) 0px 5px 15px;
}

#parent-message-text {
  height: 100%;
  grid-column: 1;
  grid-row: 1 / 5;
}

#child-message-text {
  height: 100%;
  display: grid;
  place-items: center;
}

#chat-button-div {
  margin: 10%;
  grid-column: 1;
  grid-row: 5;
}

#pm-div {
  padding-left: 15px;
  padding-right: 10px;
  overflow: hidden;
  background-color: black;
  border: 1px solid whitesmoke;
  height: 25%;
  width: 32%;
  position: absolute;
  right: 0;
  bottom: 0;
}

#pm-div:hover {
  border-color: var(--primaryColor);
}

#pm-users-list {
  margin-left: -5%;
  list-style: none;
  width: 25%;
  float: left;
}

#pm-users-list > li {
  border: 1px solid var(--primaryColor);
  background-color: whitesmoke;
  border-radius: 6px;
  border: 1px solid white;
  font-size: larger;
  font-weight: 900;
  padding: 7%;
  text-align: center;
  text-align: center;
}

.selected-user-pm {
  border: 1px solid grey;
  color: grey;
}

.sent-pm-li {
  background-color: black !important;
  color: white !important;
  border: 1px solid grey !important;
}

.new-pm {
  border: 1px solid green;
  color: green;
}

#pm-display-button {
  background-color: var(--primaryColor);
  border-radius: 30px;
  border: 1px solid black;
  color: antiquewhite;
  font-weight: 600;
  grid-column: 2;
  grid-row: 5;
  margin-left: 72%;
  padding: 0.9em;
  width: 25%;
}

#pm-send-button {
  position: absolute;
  bottom: 0;
  background-color: var(--primaryColor);
  border-radius: 30px;
  border: 1px solid black;
  color: rgb(15, 15, 15);
  font-weight: 700;
  padding: 0.9em;
  width: 25%;
  margin-left: 75%;
}

#logout-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  border-radius: 22px;
  border: none;
  font-size: medium;
  color: rgb(15, 15, 15);
  font-weight: bolder;
  margin: 0.9em;
  padding: 0.9em;
}

#logout-button:hover,
#logout-button:focus {
  outline: none;
  background-color: black;
  color: var(--primaryColor);
}

#message-text {
  width: 83%;
  color: var(--primaryColor);
  caret-color: var(--primaryColor);
  padding: 0.54em;
  font-size: x-large;
  text-align: unset;
  display: block;
  background: black;
  border-radius: 10px;
  animation: 0.6s ease-out 0s 1 slideInFromLeft;
}

#pm-textarea {
  display: inline;
  width: 65%;
  margin-right: 5%;
  color: var(--primaryColor);
  caret-color: var(--primaryColor);
  padding: 0.54em;
  font-size: x-large;
  text-align: unset;
  background: rgb(44, 43, 43);
  border-radius: 10px;
  position: absolute;
  bottom: 0;
}

#pm-textarea:hover,
#pm-textarea:active,
#pm-textarea:focus {
  outline: none;
  border: 1.34px solid var(--primaryColor);
}

#active-users-list {
  scrollbar-width: none;
  overflow-y: scroll;
  overflow: visible;
  min-height: 10%;
  max-height: 100%;
  margin: 10%;
  text-align: center;
  border-radius: 10px;
  grid-column: 4/ 5;
  grid-row: 1;
  background-color: black;
}

#active-users-list > h3 {
  font-size: x-large;
  color: antiquewhite;
}

#active-users-list::-webkit-scrollbar {
  display: none;
}

#users-list {
  overflow: visible;
  padding-left: 22%;
  padding-right: 19%;
  list-style-type: none;
  font-style: oblique;
  font-weight: 900;
  font-size: large;
}

#users-list > li {
  overflow: visible;
  position: relative;
  margin-top: 7%;
  background-color: whitesmoke;
  border-radius: 50px;
  border: 1px solid white;
}

.admin-user-li {
  color: red;
  border: 3px solid red !important;
  border-radius: 11px !important;
  font-weight: bolder !important;
  font-style: oblique !important;
}

.active-tooltip {
  font-size: medium;
  border: 2px solid white;
  z-index: 3;
  padding: 10px;
  border-radius: 40px;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--primaryColor);
  background-color: #2e2c2c;
  visibility: visible;
  border: 1px solid black;
}

#message-text::selection {
  font-size: xx-large;
  background-color: var(--primaryColor);
  color: whitesmoke;
}

#share-location-button {
  margin-top: 1em;
  border: none;
  border-radius: 30px;
  padding: 0.9em;
  background-color: grey;
  color: black;
  font-weight: 600;
}

#share-file {
  color: var(--primaryColor);
  font-weight: bolder;
}

#file-upload-input {
  text-align: center;
  background-color: var(--primaryColor);
  border-radius: 30px;
  border: 1px solid black;
  font-weight: 600;
  margin-top: -2%;
}

#share-location-button:hover {
  color: whitesmoke;
  background-color: black;
}

#button-parent {
  display: grid;
  place-items: center;
}

#submit-button {
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: large;
  font-weight: bold;
  display: block;
  padding: 1em;
  margin-left: 0;
  width: 65%;
  background-color: var(--primaryColor);
  border-radius: 5px;
  border: 1px solid black;
  color: antiquewhite;
  font-weight: 600;
  padding: 0.9em;
}

#create-room-button {
  font-size: medium;
  background-color: rgb(6, 63, 6);
  border-radius: 27px;
  border: 1px solid black;
  color: antiquewhite;
  font-weight: 800;
  padding: 0.9em;
}

#create-channel-button {
  font-size: medium;
  background-color: rgb(6, 63, 6);
  border-radius: 27px;
  border: 1px solid black;
  color: rgb(247, 246, 245);
  font-weight: 800;
  padding: 0.9em;
}

#or-span {
  margin: 1.3em;
  font-weight: bold;
  color: white;
}

#login-form #submit-button {
  margin-bottom: 2.1em;
}

#button-div {
  margin-top: 0.3em;
  margin-bottom: 0.2em;
}

#button-div #create-room-button {
  margin-left: 1em;
}

#button-div #submit-button {
  margin-top: 1em;
}

#create-room-button:focus {
  outline: none;
}

#room-name-input {
  text-align: center;
  font-size: medium;
  border: 4px solid #222;
  border-radius: 12px;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
}

#room-name-input:focus {
  outline: none;
  border: 3px solid green;
}

#submit-room-name {
  font-weight: bolder;
  margin-left: 3em;
  font-size: medium;
  background-color: green;
  border-radius: 18px;
  border: none;
  padding: 0.9em;
}

#create-room-div {
  margin-top: 4em;
  border-radius: 10px;
  border: 1px solid #2e2c2c;
  padding: 3em;
  background-color: black;
}

#submit-button:hover,
#create-room-button:hover,
#create-channel-button:hover {
  background-color: rgb(19, 18, 19);
}

#submit-button:focus {
  background-color: rgb(20, 19, 20);
}

#fetch-older-messages {
  visibility: hidden;
  z-index: 0;
  width: 40%;
  margin-top: 1em;
  margin-bottom: 0.7em;
  border: 1px solid black;
  border-radius: 30px;
  padding: 0.9em;
  background-color: var(--primaryColor);
  color: antiquewhite;
  font-weight: 600;
  grid-column: 4 / 4;
  grid-row: 2 / 2;
}

#filter-messages {
  margin-top: 5em;
  padding: 0.6em;
  border: 1px solid white;
  color: #ffffff;
  background-color: #1f1f23;
  visibility: hidden;
  font-size: large;
  border-radius: 54px;
  text-align: center;
  width: 45%;
  z-index: 0;
  margin-top: 7em;
  grid-column: 4 / 4;
  grid-row: 2 / 2;
}

#filter-messages:focus,
#filter-messages:hover {
  outline: none;
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
  background-color: black;
}

#fetch-older-messages:hover {
  background-color: white;
  color: black;
  /* font-size: large; */
}

#fetch-older-messages:focus {
  outline: none;
}

#message-text:hover,
#message-text:focus {
  border: 1px solid var(--primaryColor);
}

#submit-button,
#share-location-button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 0.8pc;
}

#submit-button:hover,
#message-text:hover,
#share-location-button:hover {
  box-shadow: rgba(150, 144, 144, 0.35) 0px 5px 15px;
}

#submit-button:focus,
#message-text:focus,
#share-location-button:focus {
  box-shadow: rgba(199, 194, 194, 0.35) 0px 5px 15px;
  outline: none;
}

#message-thread > li:nth-child(odd) {
  margin-left: 6%;
  background-color: var(--primaryColor);
  color: whitesmoke;
}

#message-thread > li:nth-child(even) {
  margin-left: 13%;
  background-color: whitesmoke;
  color: #18181b;
}

#message-thread > li:nth-child(odd) > .username-span {
  text-align: center;
  border: 1px solid black;
  border-radius: 30px;
  background-color: whitesmoke;
}

#message-thread > li:nth-child(even) > .username-span {
  text-align: center;
  border: 1px solid black;
  border-radius: 30px;
  background-color: var(--primaryColor);
}

#message-thread > li:nth-child(odd) > .message-element-span {
  text-align: center;
  border-radius: 30px;
  background-color: whitesmoke;
  color: #18181b;
}

#message-thread > li:nth-child(even) > .message-element-span {
  text-align: center;
  border-radius: 30px;
  background-color: var(--primaryColor);
}

.message {
  width: 54%;
  font-size: large;
  transition: transform 0.45s ease-in-out;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
  padding: 1em;
}

.expire-msg {
  text-align: center;
  background-color: red !important;
  border: 3px solid red;
  border-radius: 0;
  font-weight: bolder;
  animation-name: wobble;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
}

.pm-message {
  background-color: grey;
  width: 54%;
  font-size: large;
  border: 1px solid whitesmoke;
  border-radius: 7px;
  margin: 10px;
  padding: 1em;
}

.message:hover {
  border: 1px solid whitesmoke;
  transform: translate(1px, -7px);
}

.message-element-span {
  font-weight: bolder;
  padding-top: 0.7em;
  padding-bottom: 0.5em;
  margin-top: 1em;
  overflow: hidden;
  display: block;
  padding-left: 1em;
  padding-right: 1em;
}

.message-element-span > a {
  color: #18181b;
  font-weight: bolder;
}

.username-span {
  margin-right: 0.31em;
  padding-right: 0.65em;
  padding-left: 1em;
  color: #18181b;
  font-weight: bolder;
}

.date-span {
  text-align: left;
  color: #18181b;
  font-weight: bold;
  size: 1em;
}

.row {
  width: auto;
}

.blurry-text {
  opacity: 0.3 !important;
  color: transparent !important;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#message-thread {
  grid-column: 2 / 5;
  grid-row: 2 / 5;
  animation: 1s ease-out 0s 1 slideInFromRight;
  border: 1px solid black;
  border-radius: 50px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 2em;
  background-color: #18181b;
  scrollbar-width: none;
  overflow-y: scroll;
  height: 89%;
  width: 83%;
  list-style: none;
}

#pm-list {
  visibility: hidden;
  height: 75%;
  margin-left: 35%;
  border: 1px solid white;
  border-radius: 2px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: #18181b;
  scrollbar-width: none;
  overflow-y: scroll;
  list-style: none;
}

#pm-list > li {
  text-align: center;
  background-color: grey;
  border: 1px solid white;
  border-radius: 22px;
  color: white;
  font-weight: 700;
  padding: 3%;
  margin-bottom: 2%;
  margin-left: 12%;
  margin-right: 1%;
}

#message-thread:hover {
  border: 1.5px solid var(--primaryColor);
  box-shadow: rgba(199, 194, 194, 0.35) 9px 11px 20px;
}

#message-thread::-webkit-scrollbar {
  display: none;
}

.moving {
  animation: moveAround 2s infinite;
  border-radius: 20px;
}

#counter-parent {
  height: auto;
  display: grid;
  grid-gap: 7rem;
  grid-template-columns: repeat(2, 1fr);
}

#room-count,
#channel-count {
  border: 1px solid var(--primaryColor);
  padding-top: 1.3em;
  padding-left: 3em;
  padding-right: 3em;
  scrollbar-width: none;
  margin-bottom: 12%;
  height: 78%;
  overflow: scroll;
  text-align: center;
  font-weight: bold;
  border-radius: 1px;
  background-color: whitesmoke;
}

#room-count .room-counter,
#channel-count .channel-counter {
  transition: background-color;
  transition-duration: 1.3s;
}

#room-count .room-counter:hover,
#channel-count .channel-counter:hover {
  background-color: black;
}

#room-count::-webkit-scrollbar,
#channel-count::-webkit-scrollbar {
  display: none;
}

.room-counter,
.channel-counter {
  font-weight: 600;
  padding: 0.7em;
  border-radius: 16px;
  background-color: var(--primaryColor);
  font-size: larger;
  text-align: center;
  color: antiquewhite;
}

#room-select {
  margin-top: 0.3em;
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: black;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 65%;
  max-width: 100%;
  box-sizing: border-box;
  /* margin: 0; */
  border: 1px solid rgb(19, 18, 18);
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

#room-select:hover {
  border-color: rgb(15, 15, 15);
}

#room-select:focus {
  border-color: rgb(12, 12, 12);
  box-shadow: 0 0 1px 3px rgba(170, 6, 129, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

#room-select option {
  font-weight: normal;
}

#room-select:disabled,
.select-css[aria-disabled='true'] {
  color: graytext;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

.user-tag {
  font-variant-ligatures: historical-ligatures;
  font-weight: bolder;
}

.dropbtn {
  display: inline;
  background-color: var(--primaryColor);
  border-radius: 12px;
  color: white;
  padding: 1em;
  font-size: larger;
  border: none;
  cursor: pointer;
}

#dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2e2c2c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  font-size: larger;
  width: 100%;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content button:hover {
  font-size: xx-large;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: black;
  color: white;
  text-align: center;
}

#blue-option {
  background-color: var(--blueChoice);
}

#green-option {
  background-color: var(--greenChoice);
}

#orange-option {
  background-color: var(--orangeChoice);
}

#purple-option {
  background-color: var(--purpleChoice);
}

#blue-option #green-option #orange-option #purple-option {
  font-size: larger;
  margin-top: 0.3em;
  color: black;
  text-align: center;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveAround {
  0% {
    top: 0px;
    left: 0px;
  }
  25% {
    top: 0px;
    left: 100px;
  }
  50% {
    top: 100px;
    left: 100px;
  }
  75% {
    top: 100px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

@keyframes wobble {
  0% {
    -webkit-transform: rotate(3deg);
  }
  50% {
    -webkit-transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(3deg);
  }
}
